*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
h1{
    position: relative;
    left: 80px;
    color: rgb(16, 16, 109);
}
.section{
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 1px solid black;
}
.section input{
    width: 300px;
    height: 50px;
    border: 3px solid red,green;
    display: block;
    justify-content: center;
    align-items: center;
    color: green;
    border-radius: 0,20,0,0 ;
    flex-direction: row;
    
}
.add{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.list{
    height: 50px;
    width: 300px;
    font: 20px;
    color:brown;
    border: 1px solid black;
}
